extends layout 

block content 
  .title  
    h1.title__h1 Login 

  .line 

  if(errorMessage) 
      span=errorMessage

  .form
    form(method="POST")
      .form__input 
        input(type="email", name="email", placeholder="Email", requried).form__input-text
      .form__input 
        input(type="password", name="password", placeholder="Password", requried).form__input-text
      input(type="submit", value="Login").form__btn
    
    .form__line

    .form__github
      i.fa-brands.fa-github
      a(href="/user/github/start") Github Login

    .form__join
      span 계정이 없으신가요? 
      a(href="/join") 가입하기